<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed': ''">
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapse()"></button>
        <div class="logo-text" @fadeInOut *ngIf="collapsed">AmaMusic</div>
        <button class="btn-close" @rotate *ngIf="collapsed" (click)="closeSidenav()">
            <i aria-hidden="true" class="fa fa-close"></i>
        </button>
    </div>
    <div @fadeInOut *ngIf="collapsed" class="search">
        <i class="fa fa-search"></i>
        <input type="text" class="form-control" placeholder="Search">
    </div>
    <ul class="sidenav-nav">
        <li class="sidenav-nav-item" *ngFor="let data of navData">
            <a class="sidenav-nav-link" [routerLink]="[data.routeLink]" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <i aria-hidden="true" [class]="data.icon"></i>
                <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
                    {{data.label}}
                </span>
            </a>
        </li>
    </ul>
    <hr class="line"/>
    <div class="footer">
        <i class="fa fa-home" aria-hidden="true"></i>
        <span @fadeInOut *ngIf="collapsed">Welcome to AmaMusic</span>
    </div>
</div>